## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import keras_tuner as kt
from sklearn.metrics import classification_report


#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#application_df = application_df.drop(columns =["EIN","NAME"])

application_df = application_df.drop(columns =["EIN"])

application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# # Look at APPLICATION_TYPE value counts to identify and replace with "Other"
print(application_df["APPLICATION_TYPE"].value_counts())

application_df = application_df.replace(["T25","T14","T29","T15","T17", "T2", "T13", "T12"], "Other")

application_df

res  = application_df["APPLICATION_TYPE"].value_counts()

res

# #change up T replaced values

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE

# Replace in dataframe
# for app in application_types_to_replace:
#     application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# # Check to make sure replacement was successful
# application_df['APPLICATION_TYPE'].value_counts()

In [6]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
app_class = application_df["CLASSIFICATION"].value_counts()

# app_class

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
app_class_2 = app_class[app_class >= 1]

app_class_2 = app_class_2.reset_index()

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`

app_class_2 = app_class[app_class <= 1]

app_class_2 = app_class_2.reset_index()

classifications_to_replace = list(app_class_2["CLASSIFICATION"])

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
Other       26
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C1267        2
C1256        2
C1234        2
C1246        2
C3200        2
Name: count, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy_pd = pd.get_dummies(application_df, drop_first = False).astype(int)

dummy_pd

#try one hot encoder

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [10]:
# # Split our preprocessed data into our features and target arrays
# X = dummy_pd.drop(columns = ['IS_SUCCESSFUL'])
# y = dummy_pd["IS_SUCCESSFUL"]

# # # Split the preprocessed data into a training and testing dataset
# X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 78)

# len(X.columns)


dummy_pd["INCOME_AMT_50M+"].value_counts()

len(dummy_pd.columns)

19653

In [11]:

X = dummy_pd.drop(columns = ["IS_SUCCESSFUL", "STATUS", "SPECIAL_CONSIDERATIONS_Y"])

y = dummy_pd["IS_SUCCESSFUL"]

In [12]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [14]:


#imbalanced data sets 

#accuracy vs precsion recall

#three things to consider: Number of layer, nodes per layer, activation function

## Compile, Train and Evaluate the Model

In [15]:
# def create_model(h):
#     nn = tf.keras.models.Sequential()

#     x_features = len(X_train.iloc[0])
    
#     activation = h.Choice('activation', ['relu','tanh'])
    
#     nn.add(tf.keras.layers.Dense(units=h.Int('first_units',
#         min_value=1,
#         max_value=50,
#         step=2), activation=activation, input_dim=x_features))

#     for i in range(h.Int('num_layers', 1, 15)):
#         nn.add(tf.keras.layers.Dense(units=h.Int('units_' + str(i),
#             min_value=1,
#             max_value=50,
#             step=2),
#             activation=activation))

#     # Output layer
#     nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

#     nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

#     return nn

In [16]:
def create_model(h):
    nn = tf.keras.models.Sequential()

    x_features = len(X_train.iloc[0])
    
    activation = h.Choice('activation', ['relu','tanh', "sigmoid"])
    
    nn.add(tf.keras.layers.Dense(units=h.Int('first_units',
        min_value=1,
        max_value=50,
        step=2), activation=activation, input_dim=x_features))

    for i in range(h.Int('num_layers', 1, 12)):
        nn.add(tf.keras.layers.Dense(units=h.Int('units_' + str(i),
            min_value=1,
            max_value=81,
            step=2),
            activation=activation))

    # Output layer
    nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

    return nn

In [17]:
tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=30,
    hyperband_iterations=2)

Reloading Tuner from .\untitled_project\tuner0.json

In [19]:
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 180 Complete [00h 05m 40s]
val_accuracy: 0.7372594475746155

Best val_accuracy So Far: 0.7968513369560242
Total elapsed time: 5d 12h 15m 40s

In [20]:
top_hyper = tuner.get_best_hyperparameters(3)
for param in top_hyper:
    print(param.values)

{'activation': 'sigmoid', 'first_units': 35, 'num_layers': 1, 'units_0': 55, 'units_1': 25, 'units_2': 81, 'units_3': 19, 'units_4': 37, 'units_5': 79, 'units_6': 63, 'units_7': 31, 'units_8': 1, 'units_9': 17, 'units_10': 79, 'units_11': 15, 'tuner/epochs': 4, 'tuner/initial_epoch': 0, 'tuner/bracket': 2, 'tuner/round': 0}
{'activation': 'sigmoid', 'first_units': 23, 'num_layers': 3, 'units_0': 17, 'units_1': 53, 'units_2': 53, 'units_3': 75, 'units_4': 17, 'units_5': 43, 'units_6': 25, 'units_7': 37, 'units_8': 29, 'units_9': 49, 'units_10': 27, 'units_11': 45, 'tuner/epochs': 30, 'tuner/initial_epoch': 0, 'tuner/bracket': 0, 'tuner/round': 0}
{'activation': 'sigmoid', 'first_units': 5, 'num_layers': 1, 'units_0': 73, 'units_1': 49, 'units_2': 73, 'units_3': 13, 'units_4': 11, 'units_5': 39, 'units_6': 29, 'units_7': 17, 'units_8': 47, 'units_9': 75, 'units_10': 27, 'units_11': 53, 'tuner/epochs': 30, 'tuner/initial_epoch': 10, 'tuner/bracket': 2, 'tuner/round': 2, 'tuner/trial_id': '0068'}

In [21]:
best_hyper = tuner.get_best_hyperparameters(1)[0]
print(best_hyper.values)

{'activation': 'sigmoid', 'first_units': 35, 'num_layers': 1, 'units_0': 55, 'units_1': 25, 'units_2': 81, 'units_3': 19, 'units_4': 37, 'units_5': 79, 'units_6': 63, 'units_7': 31, 'units_8': 1, 'units_9': 17, 'units_10': 79, 'units_11': 15, 'tuner/epochs': 4, 'tuner/initial_epoch': 0, 'tuner/bracket': 2, 'tuner/round': 0}

In [22]:
top_model = tuner.get_best_models(3)
for model in top_model:
    model_loss, model_accuracy = model.evaluate(X_test_scaled,y_test,verbose=2)
    print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

c:\Users\librarypc\anaconda3\Lib\site-packages\keras\src\saving\saving_lib.py:757: UserWarning: Skipping variable loading for optimizer 'adam', because it has 2 variables whereas the saved optimizer has 22 variables.
  saveable.load_own_variables(weights_store.get(inner_path))

268/268 - 1s - 5ms/step - accuracy: 0.7969 - loss: 0.5652
Loss: 0.5652433633804321, Accuracy: 0.7968513369560242
268/268 - 2s - 6ms/step - accuracy: 0.7959 - loss: 0.6954
Loss: 0.6954124569892883, Accuracy: 0.795918345451355
268/268 - 1s - 4ms/step - accuracy: 0.7958 - loss: 0.5872
Loss: 0.5872125625610352, Accuracy: 0.7958017587661743

In [ ]:
# # Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
# #  YOUR CODE GOES HERE

nn2 = tf.keras.models.Sequential()

x_features = len(X_train.iloc[0])

nn2.add(
    tf.keras.layers.Dense(units=40, input_dim=x_features, activation="sigmoid")
)

nn2.add(
    tf.keras.layers.Dense(units=53, activation="sigmoid")
)


nn2.add(
    tf.keras.layers.Dense(units=17, activation="sigmoid")
)

nn2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn2.summary()

Model: "sequential_4"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_17 (Dense)                │ (None, 40)             │       786,040 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_18 (Dense)                │ (None, 53)             │         2,173 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_19 (Dense)                │ (None, 17)             │           918 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_20 (Dense)                │ (None, 1)              │            18 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 789,149 (3.01 MB)

 Trainable params: 789,149 (3.01 MB)

 Non-trainable params: 0 (0.00 B)

In [22]:
# h = kt.HyperParameters()

# activation = h.Choice('activation', ['relu','tanh','sigmoid'])

# nn2 = tf.keras.models.Sequential()

# x_features = len(X_train.iloc[0])
# # First hidden layer
# nn2.add(
#     tf.keras.layers.Dense(units=80, input_dim=x_features, activation=activation)
# )

# nn2.add(
#     tf.keras.layers.Dense(units=65, activation=activation)
# )

# nn2.add(
#     tf.keras.layers.Dense(units=50, activation=activation)
# )

# nn2.add(
#     tf.keras.layers.Dense(units=33, activation=activation)
# )
# # Second hidden layer

# nn2.add(
#     tf.keras.layers.Dense(units=20, activation=activation)
# )


# nn2.add(
#     tf.keras.layers.Dense(units=12, activation=activation)
# )

# nn2.add(
#     tf.keras.layers.Dense(units=6, activation=activation)
# )

# # Output layer
# nn2.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# # Check the structure of the model
# nn2.summary()

In [31]:
#Compile the model
nn2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [32]:
#Train the model
fit_model = nn2.fit(X_train_scaled,y_train,epochs=50)

Epoch 1/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 15s 16ms/step - accuracy: 0.6889 - loss: 0.5896
Epoch 2/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9025 - loss: 0.2757
Epoch 3/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9635 - loss: 0.1161
Epoch 4/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 21s 16ms/step - accuracy: 0.9616 - loss: 0.1054
Epoch 5/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9647 - loss: 0.0951
Epoch 6/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9625 - loss: 0.0947
Epoch 7/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 21s 16ms/step - accuracy: 0.9633 - loss: 0.0899
Epoch 8/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9645 - loss: 0.0893
Epoch 9/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 17ms/step - accuracy: 0.9648 - loss: 0.0859
Epoch 10/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9649 - loss: 0.0842
Epoch 11/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 17ms/step - accuracy: 0.9626 - loss: 0.0896
Epoch 12/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 17ms/step - accuracy: 0.9643 - loss: 0.0841
Epoch 13/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 14s 17ms/step - accuracy: 0.9659 - loss: 0.0856
Epoch 14/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 17ms/step - accuracy: 0.9650 - loss: 0.0871
Epoch 15/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 14s 17ms/step - accuracy: 0.9656 - loss: 0.0841
Epoch 16/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 14s 17ms/step - accuracy: 0.9637 - loss: 0.0870
Epoch 17/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 14s 17ms/step - accuracy: 0.9660 - loss: 0.0818
Epoch 18/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 14s 18ms/step - accuracy: 0.9664 - loss: 0.0803
Epoch 19/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 15s 19ms/step - accuracy: 0.9658 - loss: 0.0829
Epoch 20/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 15s 19ms/step - accuracy: 0.9654 - loss: 0.0818
Epoch 21/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 15s 19ms/step - accuracy: 0.9658 - loss: 0.0815
Epoch 22/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 15s 19ms/step - accuracy: 0.9672 - loss: 0.0791
Epoch 23/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 20s 18ms/step - accuracy: 0.9678 - loss: 0.0771
Epoch 24/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 14s 18ms/step - accuracy: 0.9640 - loss: 0.0827
Epoch 25/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 14s 18ms/step - accuracy: 0.9653 - loss: 0.0820
Epoch 26/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 14s 18ms/step - accuracy: 0.9649 - loss: 0.0814
Epoch 27/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 20s 17ms/step - accuracy: 0.9669 - loss: 0.0792
Epoch 28/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 21s 18ms/step - accuracy: 0.9672 - loss: 0.0781
Epoch 29/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 14s 18ms/step - accuracy: 0.9687 - loss: 0.0763
Epoch 30/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 14s 18ms/step - accuracy: 0.9650 - loss: 0.0798
Epoch 31/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 20s 17ms/step - accuracy: 0.9683 - loss: 0.0772
Epoch 32/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 14s 18ms/step - accuracy: 0.9668 - loss: 0.0783
Epoch 33/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 14s 17ms/step - accuracy: 0.9657 - loss: 0.0801
Epoch 34/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 15s 19ms/step - accuracy: 0.9671 - loss: 0.0791
Epoch 35/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9676 - loss: 0.0777
Epoch 36/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 16s 19ms/step - accuracy: 0.9684 - loss: 0.0750
Epoch 37/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 14s 18ms/step - accuracy: 0.9669 - loss: 0.0801
Epoch 38/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 14s 18ms/step - accuracy: 0.9677 - loss: 0.0771
Epoch 39/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 21s 18ms/step - accuracy: 0.9651 - loss: 0.0790
Epoch 40/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 14s 18ms/step - accuracy: 0.9680 - loss: 0.0743
Epoch 41/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 14s 18ms/step - accuracy: 0.9662 - loss: 0.0778
Epoch 42/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 21s 18ms/step - accuracy: 0.9646 - loss: 0.0823
Epoch 43/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 14s 18ms/step - accuracy: 0.9678 - loss: 0.0771
Epoch 44/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 15s 18ms/step - accuracy: 0.9677 - loss: 0.0775
Epoch 45/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 20s 24ms/step - accuracy: 0.9682 - loss: 0.0758
Epoch 46/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 18s 22ms/step - accuracy: 0.9654 - loss: 0.0807
Epoch 47/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 16s 20ms/step - accuracy: 0.9687 - loss: 0.0734
Epoch 48/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9669 - loss: 0.0768
Epoch 49/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 13s 16ms/step - accuracy: 0.9682 - loss: 0.0756
Epoch 50/50
804/804 ━━━━━━━━━━━━━━━━━━━━ 20s 16ms/step - accuracy: 0.9660 - loss: 0.0795

In [33]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn2.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - 4ms/step - accuracy: 0.7830 - loss: 0.5273
Loss: 0.5272589921951294, Accuracy: 0.7829737663269043

In [ ]:
# Export our model to HDF5 file
#nn2.save("AlphabetSoupCharity_Optimization.h5")